.dataTables_processing {
    background: url("../img/290.gif") no-repeat scroll center center transparent;
    height: 75px;
    left: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    position: absolute;
    text-align: center;
    text-indent: -9999px;
}

div.dataTables_info {
    float: right;
    padding-top: 5px;
}

div.dataTables_paginate {
    float: left;
    margin: 0;
}

.table th, .table td {
    padding: 5px;
}

.table th {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bfe3fe', endColorstr = '#00477d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bfe3fe', endColorstr = '#00477d')";
  background-image: -moz-linear-gradient(top, #bfe3fe, #00477d);
  background-image: -ms-linear-gradient(top, #bfe3fe, #00477d);
  background-image: -o-linear-gradient(top, #bfe3fe, #00477d);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#bfe3fe), to(#00477d));
  background-image: -webkit-linear-gradient(top, #bfe3fe, #00477d);
  background-image: linear-gradient(top, #bfe3fe, #00477d);
    /* background-color: #EDF3FB !important; */
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
}

.table thead th {
    vertical-align: middle;
}

.captionFont{
	background-color: #F5F5F5;
	font-family:Tahoma;
	font-weight: bold;
	height: 20px;
}

.nav-tabs.nav-stacked > .active > a{
	 background-color: #0066B3; 
}


.dataTables_filter {
    text-align: right;
    display: none;
}

.formInput{
	width: 210px;
	}
.formSelect{
	width: 220px;
	}